#container{
    background-image: url(../assets/images/h_img.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 400px;
    padding-top: 30px;

}
h2{
    text-align: center;
}
p{
    text-align: center;
}
.services{
    background-image: url(../assets/images/s_image.jpg);
    background-size: cover;
    color: white;
    height: 200px;
}

td{
padding-bottom: 40px;
padding-top: 50px;
flex-wrap: wrap;
text-align: center;

}

td:hover{
    background-color: white;

}

.row{
    text-align: center;
    padding-left: 350px;
}
.contact{
    background-image: url(../assets/images/c_image.jpg);
    text-align: center;
    color: white;
}

.col-md-1{
    text-align: center;
    padding: 20px;
    padding-right: 100px;
}

h3{
    text-align: center;
}
 /* .col-md-4{ */

.p1{
    display: none;
    text-align: center;
}
.p2{ 
    display: none;
    text-align: center;
} 
.p3{
    display: none;
    text-align: center;
}
.image1{
    padding-right: 200px;
    padding-left: 200px;

}
.image2{
    padding-right: 200px;
    padding-left: 90px;   
}
.image3{
    padding-right: 50px;
    padding-left: 200px;
}
.footer{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
.design{
    display: show;
    justify-content: space-around;
    padding: 100px;
    padding-left:70px ;

}
.devpt{
    display: show;
    justify-content: space-around;
    padding: 100px;
    padding-left: 70px;

}
.product{
    display: show;
    justify-content: space-around;
    padding: 100px;
    padding-left: 70px;
}
.row{
    display: flex;
}